* {
    border: 0px red solid;
}

.body {
    background-color: #F7F7F9;
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    height: 170px;
    background-color: #639B76;
    color: whitesmoke;
    flex-direction: row;
    justify-content: center;
}

.delete-task-button {
    cursor: pointer;
}

h1 {
 height: fit-content;
}

.main {
    display: flex;
    position: relative;
    justify-content: center;
}

.section {
    background-color: #E0E1DD;
    position: relative;
    top: -70px;
    width:  600px;
    border-radius: 18px;

}

.profile {
    display: flex;
    width: 90%;
    font-weight: bold;
}

.profile :nth-child(1) {
    flex-basis: 50%;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-field-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-todo {
    margin-bottom: 5px;
}

.task-field {
    padding: 8px;
    height: 72px;
}
.task-field::placeholder {
    height: 100%;
    padding:;
    color: #AB927D;
    text-align: ;
}

.devider {
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 20px;
}

.date-field-container{
    display: flex;
    flex-direction: column;
    width: 190px;
    flex-basis: 100%;
}

.date-todo{
    margin-bottom: 5px;
}

.date-field {
    height: 24px;
}

.duty-hierarchy-container{
    flex-basis: 100%;
}

.duty-hierarchy {
    margin-bottom: 5px;
}

.duty-hierarchy-field {
    width: 100%;
    height: 24px;
}

.submit {
    margin-top: 20px;
    width: 200px;
    height: 24px;
    color: white;
    background-color: #AB927D;
    border-radius: 10px;
    cursor: pointer;
}

.cross {
    width: 100%;
    height: 2px;
    margin-top: 20px;
    width: 90%;
    background-color:dimgray;
    border-radius: 10px;
}

.list-field {
    position: relative;
    width: 90%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-field-done {
    position: relative;
    width: 90%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-field-done ul {

    margin-bottom: 10px;
}

.list-field-done-title {
    margin-top: 10px;
    width: 95%;
}

.list-field-done-wrapper {
    margin-left: 15px;
    margin-right: 10px;
    width: 95%;
}

.task-list {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.todo-undone {
    margin: 0px;
    margin-top: 20px;
}

p {
    margin: 0px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 0px;
    width: 90%;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.search-task-button {
    height: 20px;
    cursor: pointer;
}

.list-todo {
    flex-basis: 45%;
    font-weight: bold;
}

.list-todo-value {
    margin-left: 10px;
}

.date-todo {
    flex-basis: 25%;
    font-weight: bold;
}

.priority-todo {
    flex-basis: 20%;
    font-weight: bold;
}


.list-availability {
    color: grey;
    text-align: center;
    position: absolute;
    height: 20px;
    width: 300px;
    margin-left: -150px;
    margin-top: -10px;
    top: 50%;
    left: 50%;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
}

ul li {
    display: flex;
    justify-content: space-around;
    position: relative;
    list-style: none;
    user-select: none;
    padding: 0px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

ul li :nth-child(2) {
    flex-basis: 45%;
}

ul li :nth-child(3) {
    flex-basis: 25%;
}

ul li :nth-child(4) {
    flex-basis: 20%;
}

.list-added {

}

.checked {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.task-added {
    position: relative;
    margin-bottom: 10px;
}

.checkbox {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    background-image: url('./asset/unchecked.svg');
    left: -19px;
    cursor: pointer;
}

.checked :nth-child(2) {
    flex-basis: 45%;
    text-align: left;
}

.checked :nth-child(3) {
    flex-basis: 25%;
}

.checked :nth-child(4) {
    flex-basis: 20%;
}

.checked :nth-child(5) {
    flex-basis: 5%;
}

.done-task {
    display: flex;
    gap: 10px;
}

.done-task :nth-child(1) {
    flex-basis: 40%;
}

.done-task-add {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.done-task-add :nth-child(1) {
    flex-basis: 40%;
}

.done-task p {
    font-weight: normal;
}

.done-button {
    margin-bottom: 20px;
}

.delete-button {
    margin-bottom: 20px;
}


.footer {
    height: 50px;
    background-color: #395756;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.done-task-title p {
    font-weight: bold;
}